@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Quicksand, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  color: #030712;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Gilmer;
  src: url(./assets/fonts/Gilmer-Regular.otf);
}

@font-face {
  font-family: Quicksand;
  src: url(./assets/fonts/Quicksand-VariableFont_wght.ttf);
}