.dynamic-grid-sm {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
}

.dynamic-grid-lg {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
}

div:has( > :hover.moveto-toggle) ~ .moveto-section {
    display: flex;
}

.moveto-section:has( + div > :hover.moveto-toggle) {
    display: flex;
}